@import "./variables.scss";

.keyboard-keys {
    color: $primaryColor;
    padding: 20px;
    font-weight: bold;
    margin: 5px 10px;
    border: 2px solid $border;
    border-radius: 15px;
    width: 55px;
    font-size: 15px;
}

.keyboard-wrapper {
    max-width: 40%;
    margin-left: 5%;
    margin: 5% 0 5% 5%;
}